* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* width: 100vh; */
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: fantasy;
    background-color: rgb(25, 70, 25);
}

header {
    font-size: 3vmin;
    color: darkgreen;
    background-color: mediumseagreen;
    margin-top: 2vmin;
    width: 95vmin;
    text-align: center;
    letter-spacing: 1vmin;
    border: .5vmin;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 100%;
}

p {
    height: 5vmin;
    margin-top: 1vmin;
    font-size: 2vmin;
    color: ivory;
}

#rules {
    /* margin: 0 auto 0 0; */
    margin: 0 auto;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    margin-top: -4vmin;
    display: grid;
    grid-template: repeat(8, 8vmin) / repeat(8, 8vmin);
    border-bottom: 1vmin;
}

#board > div {
    border: 0.2vmin;
    border-style: solid;
    border-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board .light {
    background-color: lightgray;
}

#board .dark {
    background-color: green;
}

.light-piece {
    width: 6vmin;
    height: 6vmin;
    border: .5vmin;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 50%;
    background-color: mediumseagreen;
}

.dark-piece {
    width: 6vmin;
    height: 6vmin;
    border: .5vmin;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 50%;
    background-color: saddlebrown;
}

.possible-move {
    width: 3vmin;
    height: 3vmin;
    border: .1vmin;
    border-style: solid;
    border-color: black;
    background-color: grey;
    border-radius: 50%;
}

.highlighted.dark-piece {
    background-color: rgb(75, 50, 0);
}

.highlighted.light-piece {
    background-color: rgb(10, 50, 10);
}

/* .colors {

} */

#play-light-button, #play-dark-button, #reset-button {
    width: 15vmin;
    height: 5vmin;
    border: 1vmin;
    border-style: solid;
    border-color:goldenrod;
    border-radius: 20%;
    text-align: center;
}

#play-light-button {
    background: mediumseagreen;
    color: white;
}

#play-dark-button {
    background: saddlebrown;
    color: white;
}

#reset-button {
    margin-top: 3vmin;
    margin-bottom: 4vmin;
    background: black;
    color: white;
    display: none;
}