* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Macondo', cursive;
    background-color: rgb(25, 70, 25);
}

header {
    font-size: 3vmin;
    color: darkgreen;
    background-color: mediumseagreen;
    margin-top: 2vmin;
    width: 95vmin;
    text-align: center;
    letter-spacing: 1vmin;
    border: 0.5vmin;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 100%;
}

#game-status {
    color: ivory;
    width: 64vmin;
    height: 10vmin;
    font-size: 3.5vmin;
    padding: 1vmin 5vmin 0 5vmin;
    margin-bottom: 6vmin;
    border: 0.5vmin;
    border-style: solid;
    border-color: goldenrod;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    height: 5vmin;
    margin-top: 1vmin;
    font-size: 2vmin;
    color: ivory;
    text-align: center;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    margin-top: -4vmin;
    display: grid;
    grid-template: repeat(8, 8vmin) / repeat(8, 8vmin);
    border-bottom: 1vmin;
}

#board > div {
    border: 0.2vmin;
    border-style: solid;
    border-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board .light {
    background-color: ivory;
}

#board .dark {
    background-color: green;
}

.light-piece {
    width: 6vmin;
    height: 6vmin;
    border: 0.5vmin;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 50%;
    background-color: mediumseagreen;
    transform: scale(0.9);
}

.dark-piece {
    width: 6vmin;
    height: 6vmin;
    border: 0.5vmin;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 50%;
    background-color: saddlebrown;
    transform: scale(0.9);
}

.possible-move {
    width: 3.5vmin;
    height: 3.5vmin;
    border: 0.1vmin;
    border-style: solid;
    border-color: black;
    background-color: rgb(125, 125, 125);
    border-radius: 50%;
    transform:scale(0.8);
}

.possible-move:hover {
    transform: scale(0.95);
    transition: transform 80ms ease-in;
}

.highlighted.dark-piece {
    background-color: rgb(90, 40, 0);
}

.highlighted.light-piece {
    background-color: rgb(25, 80, 25);
}

.king.dark-piece {
    background-color: darkred;
}

.king.light-piece {
    background-color: lightskyblue;
}

#play-light-button, #play-dark-button, #reset-button {
    width: 15vmin;
    height: 5vmin;
    border: 1vmin;
    border-style: solid;
    border-color:goldenrod;
    border-radius: 20%;
    text-align: center;
    font-size: 2vmin;
    font-family: 'Macondo', cursive;
}

#play-light-button {
    background: mediumseagreen;
    color: white;
    margin-top: -3vmin;
}

#play-dark-button {
    background: saddlebrown;
    color: white;
    margin-top: -3vmin;
}

#reset-button {
    margin-top: 3vmin;
    margin-bottom: 4vmin;
    background: black;
    color: white;
    display: none;
}

#board button:hover {
    transform: scale(1);
    transition: transform 100ms ease-in;
}